:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  height: 800px;
  width: 400px;
}

.home {
  height: 800px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0e927d;
  margin: auto;
}
.home > button {
  height: 50px;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.menu {
  height: 800px;
  width: 400px;
  margin: auto;
  background-color: #f3e4e1;
  color: #2f2926;
  overflow: auto;
}
.cart-dropdown {
  position: absolute;
  top: 75px;
  width: 350px;
  height: 600px;
  background-color: white;
  margin-left: 30px;
}

nav {
  position: absolute;
  top: 8px;
  left: 0;
  height: 800px;
  width: 408px;
  display: flex;
  margin: auto;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

nav a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}
nav.show {
  transform: translateX(0);
  background-color: rgba(0, 0, 0, 0.9);
}
.nav-menu {
  display: flex;
  gap: 3rem;
  list-style: none;
  font-weight: 600;
  font-size: 2rem;
}
.nav-menu a:hover {
  text-decoration: underline rgba(255, 255, 255, 0.863);
}

.nav-menu > button:hover {
  border-color: white;
  background-color: white;
  box-shadow: 0 0.5em 0.5em -0.4em white;
  transform: translateY(-0.1em);
  cursor: pointer;
  color: black;
}

header > button:hover {
  border-color: white;
  background-color: white;
  box-shadow: 0 0.5em 0.5em -0.4em white;
  transform: translateY(-0.1em);
  cursor: pointer;
  color: black;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
header > button {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: none;
  background-color: white;
  margin: 1rem;
}

.counter {
  color: red;
  font-size: 1.2rem;
  font-weight: 600;
}
.link {
  cursor: pointer;
}
.h2-meny {
  text-align: center;
}
.menuProducts {
  display: flex;
  flex-direction: column;
}
.showMenu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.showMenu > button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  margin: auto 1rem;
  background-color: rgba(0, 0, 0, 0.648);
}
.showMenu > button:hover {
  transform: translateY(-0.1em);
  cursor: pointer;
}
.showMenu > h4 {
  margin-left: auto;
  padding-right: 0.5rem;
}
.showMenu > p {
  flex-basis: 100%;
  font-size: small;
  margin-left: 2rem;
  margin-top: 0;
}
.cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.list-cart {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  width: 100%;
  list-style: none;
  gap: 8px;
}
.list-cart > p {
  margin: auto;
}
.list-cart > h4 {
  margin-right: auto;
}
.list-cart > button {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: none;
  margin-right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.cart {
  padding: 1rem;
  overflow: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cart > button {
  height: 50px;
  width: 200px;
  background-color: #2f2926;
  border: none;
  border-radius: 25px;
  margin: 1rem;
}
.cart > button:hover {
  transform: translateY(0.1rem);
}
.cart > button:active {
  width: calc(0.9);
}
.cart > h1 {
  padding: 1rem;
  text-align: center;
}

.cart-dropdown {
  margin-top: 24px;
  background-color: white;
  color: #2f2926;
  overflow: auto;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.status {
  height: 800px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5674e;
  margin: auto;
  gap: 1.5rem;
}
.status > button {
  background-color: white;
  color: black;
  width: 100px;
  border-radius: 10px;
  border: none;
  height: 30px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 1rem;
}
.about {
  background-color: #f3e4e1;
  color: #2f2926;
  padding: 1rem;
}
.vd {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vd > p,
h3,
img {
  margin: 0;
}
.text-about {
  font-size: 12px;
}
.vd > img {
  border-radius: 50%;
}
