:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}




.home{
  height: 600px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:  #0E927D;
  margin: auto;
}
.home > button{
  height: 50px;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  border: none;
  cursor: pointer;

}
.status{
  height: 600px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E5674E;
  margin: auto;
  gap: 2rem;
  
}
.status > button{
background-color: white;
color: black;
width: 100px;
border-radius: 10px;
border: none;
height: 30px;
text-align: center;
cursor: pointer;
}
